
<div class="jumbotron">
    <h1 class="display-4">Componente padre</h1>
    <hr>
    <app-child (notifyParent)="getNotification($event)"></app-child>
    <label>Valor emitido al componente padre:</label>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of items; let i = index" appDecora>
            {{item}}
          </li>
    </ul>
</div>
