<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Router</h1>
        <button type="button" class="btn btn-primary btn-lg" (click)="redirect()">Redirect- Router</button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="EventEmit()">EventEmitter</button>
    </div>
</div>
<router-outlet></router-outlet>