<form novalidate (ngSubmit)="sendNotification()" [formGroup]="component">
    <div class="jumbotron jumbotron-fluid" id="jumboColor">
        <div class="container">
            <h3 class="display-4">Componente hijo</h3>
            <input type="text" class="form-control" formControlName="valor" placeholder="Valor componente hijo">
            <div class="error" *ngIf="component.get('valor').hasError('required')">
               * Valor requerido
            </div>
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="component.invalid">Emitir a componente padre</button>
        </div>
    </div>
</form>